body {
    padding: 0;
    margin: 0;
  }
  
#map, body, html {
    height: 100%;
  }

/* Legend box settings */
.legend {
  line-height: 18px;
  color: #555;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 0px;
}

/* Settings for the color blocks in the legend */
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.5;
}

/* Get rid of bullet points in legend */
li {
  list-style: none;
}

/* Make the headings in the pop-ups bold */
dt {
  font-weight: bold;
}